<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.customermanage.mapper.UserMapper">
    <update id="updateUser" >
        update user set uname = #{uname},password=#{password} where uid =#{uid}
    </update>
    <select id="login" resultType="com.turing.customermanage.pojo.User">
        select * from user where uname=#{uname} and password=#{password}
    </select>

    <select id="selectList" resultType="com.turing.customermanage.pojo.User">
        select * from user
    </select>

    <insert id="addUser" parameterType="com.turing.customermanage.pojo.User">
        insert into user values(null,#{uname},#{password},0)
    </insert>

    <select id="authorityCheck1" resultType="string">
        select mid from roles_menus
        where level =
              (select level from role
              where rid =
                    (select rid from users_roles where uid = #{uid}))

    </select>

    <select id="authorityCheck2" resultType="com.turing.customermanage.pojo.Menu">
        select * from menu where mid in
        <foreach collection="array" index="index" item="mid" open="(" separator="," close=")">
            #{mid}
        </foreach>
    </select>

    <delete id="deleteUser" parameterType="integer">
        delete from user where uid = #{uid}
    </delete>

</mapper>
